/* google fotos */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Bhaiksuki&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: black;
    --cor-texto: pink;
    --menu-link: rgb(120, 119, 120);

    --cor-borda: rgb(253, 242, 242);
    ;

}

/* Fundo Branco */
:root[data-theme='light'] {
    --cor-fundo: rgb(255, 193, 204);
    --cor-texto: rgb(8, 8, 8);
    --menu-link: rgb(120, 119, 120);


    --cor-borda: rgb(253, 242, 242);

}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}



/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(20, 20, 20);
    border-bottom: 5px solid rgb(247, 239, 247);
    position: fixed;
    /* Voltar */
    z-index: 9999;
    /* Camadas */
    padding: .5rem 1rem;
}

.menu-desktop {
    background: rgba(34, 33, 34, 0.233);
    display: none;
    /* esconde o menu desktop */

}

/* NAV = UL // OL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*--- Menu Hamburger
botao menu mobile  ----- */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* UL */
    {
    display: flex;
    flex-direction: column;
    /* EIXO Y = Vertical */
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 3.25rem;
    /* comprimento */
    height: auto;
    /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Mulish", sans-serif;
}

h2 {
    font-family:"Noto Serif", serif; 
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

h3 {
    font-size: 1.55rem;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-style: italic;
}


.video iframe {
    aspect-ratio: 16/9;
}

#home,
.servicos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    background: #343739;
    padding: 6.25rem 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    margin-top: -4.5rem;
}

.descricao-video h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: -1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;

}



.servicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.servico-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.img-card {
    width: 100%;
    border-radius: .5rem;
}

.card-body {
    display: flex;
    flex-direction:column ;
    justify-content:flex-start ;
    align-items:flex-start ;
    gap: 1rem ;
}

/* H3 */
.card-titulo {
    color: var(--cor-texto); /* cor do texto */
    font-size: 2rem; /* tamanho do texto */
    font-weight: 400; /* largura */
    font-family: "Mulish", sans-serif; /* estilo das fontes */
}

.card-descricao {
     color: var(--cor-texto); /* cor do texto */
    font-size: 2rem; /* tamanho do texto */
    font-weight: ; /* largura */
    font-family: "Noto Serif", serif; 
}

.card-item {
    margin-bottom: .8rem;
}

.card-item i {
    margin-right: 8px;
}


/* Medidas Responsivas */
/* telas ate 768 */

@media (max-width: 768px) {
    #home {
        padding-top: 6rem;
    }
}

@media (min-width: 768px) {

    .menu-desktop {
        display: flex;
        min-width: 30%;
        /* alinhar o logo */
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
        /* alinhar o logo */
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    #home,
    .servicos,
    .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
}

/* fim min 768px */


@media (min-width: 992px) {
    .servico-card {
        flex-direction: row;
    }

    .img-card {
        width: 55%;
    }

    .img-card2 {
        /* tamanho das fotos */
        width: 50%;
    }

    .reverse-card {
        /* espelhar */
        flex-direction: row-reverse;
    }

}



@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    .descricao-video,
    .servicos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }

}